<!DOCTYPE html>
<html>
<head>
	<title>Sharepod | Instructions</title>
    <!--googlefonts-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Titillium+Web:wght@900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&family=Titillium+Web:wght@900&display=swap" rel="stylesheet">
		<!--bootstrap-->

		<meta content="width=device-width, initial-scale=1" name="viewport" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src=" 
https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> 
    </script>  <!--jquery-->
    <link rel="stylesheet" type="text/css" href="/css/instruct/cinstruct.css"> <!--local stylesheet-->
</head>
<body style="background-color: #1e698d;font-family: 'Noto Sans JP', sans-serif;">
<div >
	<!--navbar-->
  <div class="container-fluid">
	<nav class="navbar navbar-expand-lg navbar-dark bg-light sticky-top" style="width: 100%;background-color:#003152!important;">
	<div class="container-fluid">
		<a href="/" style="color:#272829;"><h2 style="font-family: 'Titillium Web', sans-serif;font-size: 1.4em;color:#fcfcfc;">SharePod</h2></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
<div class="collapse navbar-collapse navup navit" id="navbarResponsive">
	 <ul class="navbar-nav " align="right">
     
	<li class="nav-item mr-auto">
        <a class="nav-link" href="/home" style="color: #dee2e3;">Home<span class="sr-only">(current)</span></a>
      </li>
    </ul>
</div>
</nav>
</div>
<br>
  <div class="container">
	<!--my room-->
  <div class="jumbotron">
                  <h2 >What's this Website about and how to use it?</h2>
                  <br>
                  <div class="lead ">
                     Have you ever been in a situation where you had to ask your friend or family member or even your neighbour for a favour as to buy you some items from the grocery store or supermarket, since they were already going there and it would save you both time and fuel to not go there or maybe just because you're too lazy. Or maybe you could have been in the other person's shoes, with an intent of helping them out and thinking that it would be really nice if you could buy some items for them as well.<br>
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Well, it doesn't matter if you're doing it for saving fuel and/or the environment, or you're too lazy to buy items yourself, or you just wish to help out your mom or dad sometimes. We’ve all faced this problem in our daily lives one way or another, and it would be really nice to just tell someone or ask them without the need of calling or messaging them everytime.
                     <br>
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     Thus, we present to you ‘SharePod’, a web app designed to help you out with the daily need of pooling and sharing list of items that are to be bought among your friends, family or colleagues.  
                  </div>
               </div>
               <br>
               <br>
               <div class="jumbotron">
                  <h2 >KEY FEATURES AND POINTS:</h2>
                  <br>
                  <div class="lead ">
                     <ul style="list-style-type: circle;line-height: 2;">
                        <li>Helps you with Social Distancing during the times of COVID-19, and beyond</li>
                        <li>Helps save fuel and thus the environment</li>
                        <li>Saves time for everyone</li>
                        <li>User friendly website with responsive elements for Laptops, Phones and Tablets</li>
                        <li>Data privacy: None other than you can access your personal information  or any other sensitive data.</li>
                     </ul>
                  </div>
               </div>         
            <br>
            <br>
               <div class="jumbotron">
                  <h2 >How to use SharePod effectively?</h2>
                  <br>
                  <div class="lead ">
                     <ol style="line-height: 2;">
                           <li> Once on the Home Page, go to Sign Up and register your profile appropriately.</li>
     <li>Now, you can see your profile and the rooms that you are currently part of (none, at the moment).</li>
    <li>You can either Join a Room (Point 5) or Create a Room first. To create a room, Select a unique Room ID and Password yourself and remember it.</li>
    <li>Now you need to share with your friends or family, the Room ID that you just created along with the password so that they can access it using ‘Join Room’.</li>
    <li>In order to join a room, Enter the Room ID and Password that your friend just told you or the one that you created yourself to access the Room Page.</li>
    <li> Now, you can view the items or add some new items which you want to buy in the list easily using the graphical interface.</li>
    <li> To delete your own added items, click on the ‘Delete ’ button which will take you to another page with your items list. You can click on any part of the row except for the 'X' button to view the order details. Click on the ‘X’ button to delete the particular item and press on ‘Done’ to go back to the Room Page.</li>
    <li> When you are already at the supermarket and wish to buy some items for your friend, check the status of that item on the room page and click on the ‘Buy ’ button to proceed. It will show you all the items which have not been bought yet, and you can press on the ‘+’ button to indicate that you are buying that particular item.You can click on any part of the row except for the '+' button to view the order details.  Click on ‘Done’ when your selection is over.</li>
    <li>Now, you and your friend can see your name appearing with the status of that particular item as ‘already bought’ or ‘green’. Similarly others can use it in the same way for effective use.</li>
    <li>Keep in mind that once your added items show ‘green’ status, you need to delete them yourself in order to make the room list more clean and organised, since you don't need that item anymore.</li>
    <li>Due to Cookies and Sessions, you will be logged in till you explicitly ‘Log Out’ so that you don't need to make the hassle of logging in every single time you reload the website.</li>


                     </ol>
                     <h4>Share this Web App with your friends, family, and colleagues and do email us for telling your feedback or grievances.</h4>
                  </div>
               </div>         
            <br>
            <br>
             <div class="jumbotron">
                  <h2 >FUTURE UPDATES AND FEATURES TO BE ADDED</h2>
                  <br>
                  <div class="lead ">
                     <ul style="list-style-type: circle;line-height: 2;">
                        <li>Google Authentication for easier registration and sign up of users</li>
                        <li>Rather than telling room id and password to your friends physically, the option of mailing them this information via a click of button through the Web App</li>
                        <li>An automatic email being sent out to the concerned user when someone else buys their item, so that they can know instantly without the need of checking the Web App themselves</li>
                        <li>   Adding a feature where once a user has created or joined a room at least once, they don't need to put in the room password every time they wish to go to the room page 
</li>
                      
                     </ul></div>
</div>
  <br>
  <br>
</div>
	<!--end of rooms box-->
</div>
<hr class="norf sep">
<div class="container" style="line-height: 2;color: #a3a3a3;">
   <div class="row">
     <div class="col-12 col-md-4 clasu ">
          <a href="/" style="color:#272829;"><h1 style="font-family: 'Titillium Web', sans-serif;font-size: 2em;color:#fcfcfc;">SharePod</h1></a>
        <h4 style="font-size:1em;">Queries?</h4>
        <h4 style="font-size:1em;">Contact us at :</h4>
        <h4 style="font-size:1em;">sharepod@gmail.com</h4>
     </div>
     <div class=" col-12 col-md-8 row">
      <div class="col-5">
        <ul style="padding-left: 20%;padding-right: 20%; text-align: center;list-style: none;">
              <h3 style="font-size:1em; text-align: left;color: #a3a3a3;">  <strong>KRISHNA KISHORE</strong> </h3>
        <li style="color: black;font-size: 1em;text-align: left;" ><a style="color: #a3a3a3;" href="https://www.instagram.com/krishnakishore.s/">
INSTAGRAM
</a>
</li>
        <li style="color: black;font-size: 1em;text-align: left;" ><a style="color: #a3a3a3;" href="https://www.facebook.com/krishna.kishoremvm/">
FACEBOOK
</a>
<li style="color: black;font-size: 1em;text-align: left;"><a  style="color: #a3a3a3;" href="https://github.com/2408-k">
GITHUB
</a>
</li>
  <li style="color: black;font-size: 1em;text-align: left;" ><a  style="color: #a3a3a3;" href="https://www.linkedin.com/in/krishna-kishore-s-6a2a65195/">
LINKEDIN
</a>
</li>
  </ul>
      </div>
      <div class="col-2"></div>
      <div class="col-5"><ul style="padding-left: 20%;padding-right: 20%; text-align: center;list-style: none;">
              <h3 style="font-size:1em; text-align: left;color: #a3a3a3;"> <strong> PRATEEK SHARMA</strong></h3>
        <li style="color: black;font-size: 1em;text-align: left;" ><a style="color: #a3a3a3;"  href="https://www.instagram.com/prateeksharm.a/">
INSTAGRAM
</a>
</li>
        <li style="color: black;font-size: 1em;text-align: left;" ><a  style="color: #a3a3a3;" href="https://www.facebook.com/prateek.sharma.94849">
FACEBOOK
</a>
<li style="color: black;font-size: 1em;text-align: left;"><a style="color: #a3a3a3;"  href="https://github.com/prateek1106">
GITHUB
</a>
</li>
  <li style="color: black;font-size: 1em;text-align: left;" ><a  style="color: #a3a3a3;" href="https://www.linkedin.com/in/prateek-sharma-0507a6193/">
LINKEDIN
</a>
</li>
  </ul></div>
     </div>
   </div>
    <footer style="text-align: center;">&copy; Copyright 2020</footer>

</div>
</div>
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/instruct/jinstruct.js"></script>
<script>
        $( document ).ready(function() {
            //$('.breakrow').click(function(){
      $('#tableMain').on('click', 'tr.breakrow',function(){
                $(this).nextUntil('tr.breakrow').slideToggle(200);
            });
        });
    </script>


</body>
</html>