<!DOCTYPE html>
<html>
<head>
	<title>Sharepod | Join Room</title>
	<meta content="width=device-width, initial-scale=1" name="viewport" />
    <!--googlefonts-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Titillium+Web:wght@900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&family=Titillium+Web:wght@900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src=" 
https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> 
    </script>  <!--jquery-->
    <link rel="stylesheet" type="text/css" href="/css/joinr/tjr.css"> <!--local stylesheet-->
</head>
<body style="font-family: 'Noto Sans JP', sans-serif;">
	<!--outer body-->
	<div class="container-fluid">
		<!--navbar-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-light sticky-top" style="width: 100%;background-color: #003152!important;">
	<div class="container-fluid">
		<a href="/" style="color:#272829;"><h2 style="font-family: 'Titillium Web', sans-serif;font-size: 1.4em;color:#fcfcfc;">SharePod</h2></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
<div class="collapse navbar-collapse navup navit" id="navbarResponsive">
	 <ul class="navbar-nav " align="right">
     
	<li class="nav-item mr-auto">
        <a class="nav-link" href="/home" style="color: #dee2e3;">Home<span class="sr-only">(current)</span></a>
        <li class="nav-item mr-auto">
        <a class="nav-link" href="/profile" style="color: #dee2e3;"><%= firstName %><span class="sr-only">(current)</span></a>
      </li>
      </li>
    </ul>
</div>
</nav>
<!-- signup-->
<div class="container su" style="text-align: center;width: 60%;margin-left: 20%;margin-right: 20%; background-color:rgba(0,49,82,0.8)!important;padding-top: 15px;padding-bottom: 15px;border-radius: 30px;">
		<h3 style="color: #dee2e3;">Join Room</h3>
		<br>
		<form action="/join" method="POST">
  <div class="form-group">
    <input type="text" class="form-control"  aria-describedby="emailHelp" name="roomid" placeholder="Enter room id">
    <input type="password" class="form-control" id="exampleInputPassword1" aria-describedby="emailHelp" name="password" placeholder="Enter password">
	   <input type="checkbox" onclick="myShow()">Show Password
  </div>
  <input type="hidden" name="userName" value="<%=username%>">
  <input type="hidden" name="firstName" value="<%=firstName%>">
  <input type="hidden" name="lastName" value="<%=lastName%>">
  <button type="submit" class="btn btn-info">Submit</button>
</form>
	</div>

    <!-- closing outer body-->
	 </div>
	 <hr class="norf sep">
<div class="container">
   <div class="row">
     <div class="col-12 col-md-4 clasu " style="color: #a3a3a3;">
        <a href="/" style="color:#272829;"><h1 style="font-family: 'Titillium Web', sans-serif;font-size: 2em;color:#fcfcfc;">SharePod</h1></a>
        <h4 style="font-size:1em;">Queries?</h4>
        <h4 style="font-size:1em;">Contact us at :</h4>
        <h4 style="font-size:1em;">sharepod@gmail.com</h4>
     </div>
     <div class=" col-12 col-md-8 row">
      <div class="col-5">
        <ul style="padding-left: 20%;padding-right: 20%; text-align: center;list-style: none;">
              <h3 style="font-size:1em; text-align: left;color: #a3a3a3;">  <strong>KRISHNA KISHORE</strong> </h3>
        <li style="color: black;font-size: 1em;text-align: left;" ><a style="color: #a3a3a3;" href="https://www.instagram.com/krishnakishore.s/">
INSTAGRAM
</a>
</li>
        <li style="color: black;font-size: 1em;text-align: left;" ><a style="color: #a3a3a3;" href="https://www.facebook.com/krishna.kishoremvm/">
FACEBOOK
</a>
<li style="color: black;font-size: 1em;text-align: left;"><a  style="color: #a3a3a3;" href="https://github.com/2408-k">
GITHUB
</a>
</li>
  <li style="color: black;font-size: 1em;text-align: left;" ><a  style="color: #a3a3a3;" href="https://www.linkedin.com/in/krishna-kishore-s-6a2a65195/">
LINKEDIN
</a>
</li>
  </ul>
      </div>
      <div class="col-2"></div>
      <div class="col-5"><ul style="padding-left: 20%;padding-right: 20%; text-align: center;list-style: none;">
              <h3 style="font-size:1em; text-align: left;color: #a3a3a3;"> <strong> PRATEEK SHARMA</strong></h3>
        <li style="color: black;font-size: 1em;text-align: left;" ><a style="color: #a3a3a3;"  href="https://www.instagram.com/prateeksharm.a/">
INSTAGRAM
</a>
</li>
        <li style="color: black;font-size: 1em;text-align: left;" ><a  style="color: #a3a3a3;" href="https://www.facebook.com/prateek.sharma.94849">
FACEBOOK
</a>
<li style="color: black;font-size: 1em;text-align: left;"><a style="color: #a3a3a3;"  href="https://github.com/prateek1106">
GITHUB
</a>
</li>
  <li style="color: black;font-size: 1em;text-align: left;" ><a  style="color: #a3a3a3;" href="https://www.linkedin.com/in/prateek-sharma-0507a6193/">
LINKEDIN
</a>
</li>
  </ul></div>
     </div>
   </div>
    <footer style="text-align: center;color: #a3a3a3;">&copy; Copyright 2020</footer>

</div>
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script type="text/javascript">
  function myShow() {
  var x = document.getElementById("exampleInputPassword1");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>
</body>
</html>